<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <table>
        <caption >注册账号</caption>
        <tbody>
            <tr>
                <th align="right">用户名:</th><td><input name='Username' type="text" size="20"></td>
            </tr>
            <tr>
                <th align="right">密  码:</th><td><input name="Password" type="password", size="20"></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input name="submit" type="submit" value="完成注册"></td>
            </tr>
        </tbody>
    </table>
</form>
</body>
</html>